.container {
    width: clamp(0px, 100%, var(--container-width));
    margin-inline: auto;
    padding-inline: var(--container-padding);
}

.container-right {
    // overflow-x: hidden;
    padding-left: var(--container-padding);
    margin-left: clamp(0px, calc((100vw - var(--container-width)) / 2), 100%);
}

.container-left {
    // overflow-x: hidden;
    padding-right: var(--container-padding);
    margin-right: clamp(0px, calc((100vw - var(--container-width)) / 2), 100%);
}
